{% extends "base.html" %}


{% block content %}
    <h1>Build a Blog!</h1>
    <form method='post'>
        <label>Title of your post:
            <input type="text" name='blog_title' />
        </label>

        <p></p>

        <label> Write your blog:
            <textarea name='new_blog' rows="10" cols="30"></textarea>
        </label>
        <input type="submit" value="Add Blog Post" />
    </form>

    <hr />

    {% if blog_list|length == 0 %}
    <p>No blog entries yet</p>
    {% else %}
      
        <ul>
            {% for blog in blog_list %}
            <li>{{blog}}</li>
            {% endfor %}

        </ul>             
    
    {% endif %}

{% endblock %}